n8n-workflows/tool-gerenciar-sessao.json
{
  "name": "Tool: Gerenciar Sessão Agendamento - Bellory",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "i1b2c3d4-1009-4009-a009-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// TOOL: GERENCIAR SESSÃO DE AGENDAMENTO\n// Ações: 'ler', 'atualizar', 'limpar'\n// Mantém o cache de sessão com TTL de 2h\n// ════════════════════════════════════════════════════════\n\nconst input = $input.item.json;\nconst query = input.query || '';\nconst organizacaoId = input.organizacao_id || input.organizacaoId;\nconst remoteJid = input.remote_jid || input.remetente_numero || '';\nconst instanceName = input.instance_name || '';\n\n// Determinar ação\nlet acao = input.acao || 'ler';\nif (query) {\n  const qLower = query.toLowerCase();\n  if (qLower.includes('limpar') || qLower.includes('cancelar') || qLower.includes('resetar')) {\n    acao = 'limpar';\n  } else if (qLower.includes('atualizar') || qLower.includes('salvar') || qLower.includes('update')) {\n    acao = 'atualizar';\n  } else {\n    acao = 'ler';\n  }\n}\n\n// Dados da sessão para atualizar\nconst sessionData = input.session_data || input.sessionData || null;\nconst passoAtual = input.passo_atual || input.passoAtual || null;\n\nif (!remoteJid) {\n  return [{ json: { error: true, message: 'remote_jid não informado.' } }];\n}\nif (!instanceName) {\n  return [{ json: { error: true, message: 'instance_name não informado.' } }];\n}\n\nreturn [{\n  json: {\n    acao: acao,\n    remote_jid: remoteJid,\n    instance_name: instanceName,\n    organizacao_id: organizacaoId,\n    session_data: sessionData,\n    passo_atual: passoAtual\n  }\n}];"
      },
      "id": "i1b2c3d4-1009-4009-a009-000000000002",
      "name": "Extrair Parâmetros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "i1b2c3d4-1009-4009-a009-000000000003",
      "name": "Tem Erro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.acao }}", "rightValue": "ler", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": "Ler"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.acao }}", "rightValue": "atualizar", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": "Atualizar"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.acao }}", "rightValue": "limpar", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": "Limpar"
            }
          ]
        },
        "options": {}
      },
      "id": "i1b2c3d4-1009-4009-a009-000000000004",
      "name": "Roteador Ação",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [0, -64]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_data, passo_atual, updated_at, expires_at FROM auto.booking_session WHERE remote_jid = $1 AND instance_name = $2 AND expires_at > NOW() LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('Extrair Parâmetros').item.json.remote_jid }},={{ $('Extrair Parâmetros').item.json.instance_name }}"
        }
      },
      "id": "i1b2c3d4-1009-4009-a009-000000000005",
      "name": "Ler Sessão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [200, -192],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatar resposta de leitura\nconst resultado = $input.item.json;\n\nif (resultado && resultado.session_data) {\n  const sessionData = typeof resultado.session_data === 'string'\n    ? JSON.parse(resultado.session_data)\n    : resultado.session_data;\n\n  return [{\n    json: {\n      response: JSON.stringify({\n        sessao_ativa: true,\n        passo_atual: resultado.passo_atual,\n        dados: sessionData,\n        ultima_atualizacao: resultado.updated_at,\n        expira_em: resultado.expires_at\n      })\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    response: JSON.stringify({\n      sessao_ativa: false,\n      passo_atual: 1,\n      dados: {},\n      mensagem: 'Nenhuma sessão de agendamento ativa. Iniciando novo processo.'\n    })\n  }\n}];"
      },
      "id": "i1b2c3d4-1009-4009-a009-000000000006",
      "name": "Formatar Leitura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, -192]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auto.booking_session (remote_jid, instance_name, organizacao_id, session_data, passo_atual, updated_at, expires_at) VALUES ($1, $2, $3, $4::jsonb, $5, NOW(), NOW() + INTERVAL '2 hours') ON CONFLICT (remote_jid, instance_name) DO UPDATE SET session_data = $4::jsonb, passo_atual = $5, updated_at = NOW(), expires_at = NOW() + INTERVAL '2 hours';",
        "options": {
          "queryReplacement": "={{ $('Extrair Parâmetros').item.json.remote_jid }},={{ $('Extrair Parâmetros').item.json.instance_name }},={{ $('Extrair Parâmetros').item.json.organizacao_id }},={{ JSON.stringify($('Extrair Parâmetros').item.json.session_data || {}) }},={{ $('Extrair Parâmetros').item.json.passo_atual || 1 }}"
        }
      },
      "id": "i1b2c3d4-1009-4009-a009-000000000007",
      "name": "Atualizar Sessão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [200, -64],
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    response: JSON.stringify({\n      sucesso: true,\n      mensagem: 'Sessão de agendamento atualizada.',\n      passo_atual: $('Extrair Parâmetros').item.json.passo_atual || 1\n    })\n  }\n}];"
      },
      "id": "i1b2c3d4-1009-4009-a009-000000000008",
      "name": "Formatar Atualização",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, -64]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM auto.booking_session WHERE remote_jid = $1 AND instance_name = $2;",
        "options": {
          "queryReplacement": "={{ $('Extrair Parâmetros').item.json.remote_jid }},={{ $('Extrair Parâmetros').item.json.instance_name }}"
        }
      },
      "id": "i1b2c3d4-1009-4009-a009-000000000009",
      "name": "Limpar Sessão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [200, 64],
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    response: JSON.stringify({\n      sucesso: true,\n      mensagem: 'Sessão de agendamento limpa. Pode iniciar novo agendamento.'\n    })\n  }\n}];"
      },
      "id": "i1b2c3d4-1009-4009-a009-000000000010",
      "name": "Formatar Limpeza",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 64]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { response: $input.item.json.message, success: false } }];"
      },
      "id": "i1b2c3d4-1009-4009-a009-000000000011",
      "name": "Retornar Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [0, 160]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Extrair Parâmetros", "type": "main", "index": 0 }]]
    },
    "Extrair Parâmetros": {
      "main": [[{ "node": "Tem Erro?", "type": "main", "index": 0 }]]
    },
    "Tem Erro?": {
      "main": [
        [{ "node": "Retornar Erro", "type": "main", "index": 0 }],
        [{ "node": "Roteador Ação", "type": "main", "index": 0 }]
      ]
    },
    "Roteador Ação": {
      "main": [
        [{ "node": "Ler Sessão", "type": "main", "index": 0 }],
        [{ "node": "Atualizar Sessão", "type": "main", "index": 0 }],
        [{ "node": "Limpar Sessão", "type": "main", "index": 0 }]
      ]
    },
    "Ler Sessão": {
      "main": [[{ "node": "Formatar Leitura", "type": "main", "index": 0 }]]
    },
    "Atualizar Sessão": {
      "main": [[{ "node": "Formatar Atualização", "type": "main", "index": 0 }]]
    },
    "Limpar Sessão": {
      "main": [[{ "node": "Formatar Limpeza", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "instanceId": "7cd2192570f690f192d4d8c0d58a905ea183da6f294052109cd14343322150c9"
  },
  "tags": [{ "name": "Bellory" }, { "name": "Tool" }]
}
