n8n-workflows/tool-buscar-servicos.json
{
  "name": "Tool: Buscar Serviços (Todos) - Bellory",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "e1b2c3d4-1005-4005-a005-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// TOOL: BUSCAR TODOS OS SERVIÇOS\n// Lista todos os serviços agrupados por categoria\n// ════════════════════════════════════════════════════════\n\nconst input = $input.item.json;\nconst organizacaoId = input.organizacao_id || input.organizacaoId;\n\nif (!organizacaoId) {\n  return [{ json: { error: true, message: 'organizacao_id não informado.' } }];\n}\n\nreturn [{ json: { organizacao_id: organizacaoId } }];"
      },
      "id": "e1b2c3d4-1005-4005-a005-000000000002",
      "name": "Extrair Parâmetros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e1b2c3d4-1005-4005-a005-000000000003",
      "name": "Tem Erro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.id AS servico_id, s.nome, COALESCE(s.preco_final, s.preco) AS preco, s.tempo_estimado_minutos AS duracao, c.label AS categoria, c.id AS categoria_id, s.descricao FROM app.servico s JOIN app.categoria c ON c.id = s.categoria_id WHERE s.organizacao_id = $1 AND s.ativo = true AND s.is_deletado = false ORDER BY c.label, s.nome;",
        "options": {
          "queryReplacement": "={{ $json.organizacao_id }}"
        }
      },
      "id": "e1b2c3d4-1005-4005-a005-000000000004",
      "name": "Buscar Todos Serviços",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [200, -64],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatar e agrupar serviços por categoria\nconst items = $input.all();\nconst servicos = items\n  .map(item => item.json)\n  .filter(item => item.servico_id);\n\nif (servicos.length === 0) {\n  return [{\n    json: {\n      response: JSON.stringify({\n        categorias: [],\n        mensagem: 'Nenhum serviço disponível no momento.'\n      })\n    }\n  }];\n}\n\n// Agrupar por categoria\nconst porCategoria = {};\nservicos.forEach(s => {\n  const cat = s.categoria || 'Outros';\n  if (!porCategoria[cat]) {\n    porCategoria[cat] = {\n      categoria: cat,\n      categoria_id: s.categoria_id,\n      servicos: []\n    };\n  }\n  porCategoria[cat].servicos.push({\n    servico_id: s.servico_id,\n    nome: s.nome,\n    preco: `R$ ${parseFloat(s.preco || 0).toFixed(2).replace('.', ',')}`,\n    preco_valor: parseFloat(s.preco || 0),\n    duracao: `${s.duracao} min`,\n    duracao_minutos: s.duracao,\n    descricao: s.descricao || ''\n  });\n});\n\nreturn [{\n  json: {\n    response: JSON.stringify({\n      categorias: Object.values(porCategoria),\n      total_servicos: servicos.length\n    })\n  }\n}];"
      },
      "id": "e1b2c3d4-1005-4005-a005-000000000005",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, -64]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { response: $input.item.json.message, success: false } }];"
      },
      "id": "e1b2c3d4-1005-4005-a005-000000000006",
      "name": "Retornar Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [200, 96]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Extrair Parâmetros", "type": "main", "index": 0 }]]
    },
    "Extrair Parâmetros": {
      "main": [[{ "node": "Tem Erro?", "type": "main", "index": 0 }]]
    },
    "Tem Erro?": {
      "main": [
        [{ "node": "Retornar Erro", "type": "main", "index": 0 }],
        [{ "node": "Buscar Todos Serviços", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Todos Serviços": {
      "main": [[{ "node": "Formatar Resposta", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "instanceId": "7cd2192570f690f192d4d8c0d58a905ea183da6f294052109cd14343322150c9"
  },
  "tags": [{ "name": "Bellory" }, { "name": "Tool" }]
}
