n8n-workflows/tool-salvar-agendamento.json
{
  "name": "Tool: Salvar Agendamento - Bellory",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// TOOL: SALVAR AGENDAMENTO\n// Cria agendamento + vincula serviço/funcionário + cria bloqueio\n// Replica a lógica do AgendamentoService.criarAgendamento()\n// ════════════════════════════════════════════════════════\n\nconst input = $input.item.json;\nconst query = input.query || '';\nconst organizacaoId = input.organizacao_id || input.organizacaoId;\nlet clienteId = input.cliente_id || input.clienteId;\nlet servicoId = input.servico_id || input.servicoId;\nlet funcionarioId = input.funcionario_id || input.funcionarioId;\nlet data = input.data || null;\nlet hora = input.hora || null;\nlet observacao = input.observacao || 'Agendamento via WhatsApp';\n\n// Tentar extrair dados do query\nif (query) {\n  if (!clienteId) {\n    const m = query.match(/cliente[_\\s]?(?:id)?[:\\s]*(\\d+)/i);\n    if (m) clienteId = m[1];\n  }\n  if (!servicoId) {\n    const m = query.match(/servico[_\\s]?(?:id)?[:\\s]*(\\d+)/i);\n    if (m) servicoId = m[1];\n  }\n  if (!funcionarioId) {\n    const m = query.match(/funcionario[_\\s]?(?:id)?[:\\s]*(\\d+)/i);\n    if (m) funcionarioId = m[1];\n  }\n  if (!data) {\n    const m = query.match(/(\\d{4}-\\d{2}-\\d{2})/);\n    if (m) data = m[1];\n    else {\n      const m2 = query.match(/(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})/);\n      if (m2) data = `${m2[3]}-${m2[2].padStart(2, '0')}-${m2[1].padStart(2, '0')}`;\n    }\n  }\n  if (!hora) {\n    const m = query.match(/(\\d{1,2}):(\\d{2})/);\n    if (m) hora = `${m[1].padStart(2, '0')}:${m[2]}`;\n  }\n}\n\n// Validação\nconst erros = [];\nif (!clienteId) erros.push('cliente_id');\nif (!servicoId) erros.push('servico_id');\nif (!funcionarioId) erros.push('funcionario_id');\nif (!data) erros.push('data (YYYY-MM-DD)');\nif (!hora) erros.push('hora (HH:MM)');\nif (!organizacaoId) erros.push('organizacao_id');\n\nif (erros.length > 0) {\n  return [{\n    json: {\n      error: true,\n      message: `Dados incompletos para criar agendamento. Faltam: ${erros.join(', ')}.`\n    }\n  }];\n}\n\n// Validar data não é no passado\nconst dtAgendamento = new Date(`${data}T${hora}:00`);\nconst agora = new Date();\nif (dtAgendamento < agora) {\n  return [{\n    json: {\n      error: true,\n      message: 'Não é possível agendar para o passado. Escolha uma data/horário futuros.'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    cliente_id: clienteId,\n    servico_id: servicoId,\n    funcionario_id: funcionarioId,\n    data: data,\n    hora: hora,\n    organizacao_id: organizacaoId,\n    observacao: observacao,\n    dt_agendamento: `${data}T${hora}:00`\n  }\n}];"
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000002",
      "name": "Extrair e Validar Parâmetros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000003",
      "name": "Tem Erro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT bo.id FROM app.bloqueio_organizacao bo WHERE bo.organizacao_id = $1 AND $2::date BETWEEN bo.data_inicio AND bo.data_fim AND bo.ativo = true LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.organizacao_id }},={{ $json.data }}"
        }
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000004",
      "name": "Verificar Bloqueio Org",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-200, -64],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Verificar se o dia está bloqueado\nconst resultado = $input.item.json;\nconst params = $('Extrair e Validar Parâmetros').item.json;\n\nif (resultado && resultado.id) {\n  return [{\n    json: {\n      error: true,\n      message: `Não é possível agendar para ${params.data}. O dia está bloqueado (feriado ou bloqueio da organização).`\n    }\n  }];\n}\n\nreturn [{ json: { ...params, bloqueio_ok: true } }];"
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000005",
      "name": "Avaliar Bloqueio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [0, -64]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000006",
      "name": "Dia Bloqueado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, -64]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.tempo_estimado_minutos AS duracao FROM app.servico s WHERE s.id = $1;",
        "options": {
          "queryReplacement": "={{ $json.servico_id }}"
        }
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000007",
      "name": "Buscar Duração",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [400, -128],
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar dados para inserção\nconst params = $('Avaliar Bloqueio').item.json;\nconst duracao = $input.item.json.duracao || 30;\n\nreturn [{\n  json: {\n    ...params,\n    duracao: duracao,\n    dt_fim_bloqueio_str: '' // será calculado na query SQL\n  }\n}];"
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000008",
      "name": "Preparar Inserção",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [600, -128]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.agendamento (organizacao_id, cliente_id, dt_agendamento, observacao, status, dt_criacao, requer_sinal) VALUES ($1, $2, $3::timestamp, $4, 'PENDENTE', NOW(), false) RETURNING id AS agendamento_id;",
        "options": {
          "queryReplacement": "={{ $json.organizacao_id }},={{ $json.cliente_id }},={{ $json.dt_agendamento }},={{ $json.observacao }}"
        }
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000009",
      "name": "Inserir Agendamento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [800, -128],
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Salvar agendamento_id para os próximos passos\nconst agendamentoId = $input.item.json.agendamento_id;\nconst params = $('Preparar Inserção').item.json;\n\nreturn [{\n  json: {\n    ...params,\n    agendamento_id: agendamentoId\n  }\n}];"
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000010",
      "name": "Salvar ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1000, -128]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.agendamento_servico (agendamento_id, servico_id) VALUES ($1, $2);",
        "options": {
          "queryReplacement": "={{ $json.agendamento_id }},={{ $json.servico_id }}"
        }
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000011",
      "name": "Vincular Serviço",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1200, -128],
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.agendamento_funcionario (agendamento_id, funcionario_id) VALUES ($1, $2);",
        "options": {
          "queryReplacement": "={{ $('Salvar ID').item.json.agendamento_id }},={{ $('Salvar ID').item.json.funcionario_id }}"
        }
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000012",
      "name": "Vincular Funcionário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1400, -128],
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.bloqueio_agenda (funcionario_id, inicio_bloqueio, fim_bloqueio, descricao, tipo_bloqueio, agendamento_id) VALUES ($1, $2::timestamp, ($2::timestamp + ($3 || ' minutes')::interval + '15 minutes'::interval), 'Agendamento de Serviço', 'AGENDAMENTO', $4);",
        "options": {
          "queryReplacement": "={{ $('Salvar ID').item.json.funcionario_id }},={{ $('Salvar ID').item.json.dt_agendamento }},={{ $('Salvar ID').item.json.duracao }},={{ $('Salvar ID').item.json.agendamento_id }}"
        }
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000013",
      "name": "Criar Bloqueio Agenda",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1600, -128],
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id AS agendamento_id, a.status, a.dt_agendamento, c.nome_completo AS cliente_nome, s.nome AS servico_nome, COALESCE(s.preco_final, s.preco) AS servico_preco, s.tempo_estimado_minutos AS servico_duracao, f.nome_completo AS funcionario_nome FROM app.agendamento a JOIN app.cliente c ON c.id = a.cliente_id JOIN app.agendamento_servico asv ON asv.agendamento_id = a.id JOIN app.servico s ON s.id = asv.servico_id JOIN app.agendamento_funcionario af ON af.agendamento_id = a.id JOIN app.funcionario f ON f.id = af.funcionario_id WHERE a.id = $1 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('Salvar ID').item.json.agendamento_id }}"
        }
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000014",
      "name": "Buscar Dados Completos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1800, -128],
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// FORMATAR RESPOSTA DE SUCESSO\n// ════════════════════════════════════════════════════════\n\nconst dados = $input.item.json;\nconst params = $('Salvar ID').item.json;\n\n// Formatar data\nconst dataFormatada = params.data.split('-').reverse().join('/');\n\nconst resposta = {\n  sucesso: true,\n  agendamento_id: dados.agendamento_id || params.agendamento_id,\n  status: dados.status || 'PENDENTE',\n  cliente: dados.cliente_nome,\n  servico: dados.servico_nome,\n  preco: `R$ ${parseFloat(dados.servico_preco || 0).toFixed(2).replace('.', ',')}`,\n  duracao: `${dados.servico_duracao || params.duracao} min`,\n  profissional: dados.funcionario_nome,\n  data: dataFormatada,\n  horario: params.hora,\n  mensagem: 'Agendamento criado com sucesso!'\n};\n\nreturn [{\n  json: {\n    response: JSON.stringify(resposta)\n  }\n}];"
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000015",
      "name": "Formatar Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2000, -128]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { response: $input.item.json.message, success: false } }];"
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000016",
      "name": "Retornar Erro Validação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-200, 96]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { response: $input.item.json.message, success: false } }];"
      },
      "id": "h1b2c3d4-1008-4008-a008-000000000017",
      "name": "Retornar Erro Bloqueio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Extrair e Validar Parâmetros", "type": "main", "index": 0 }]]
    },
    "Extrair e Validar Parâmetros": {
      "main": [[{ "node": "Tem Erro?", "type": "main", "index": 0 }]]
    },
    "Tem Erro?": {
      "main": [
        [{ "node": "Retornar Erro Validação", "type": "main", "index": 0 }],
        [{ "node": "Verificar Bloqueio Org", "type": "main", "index": 0 }]
      ]
    },
    "Verificar Bloqueio Org": {
      "main": [[{ "node": "Avaliar Bloqueio", "type": "main", "index": 0 }]]
    },
    "Avaliar Bloqueio": {
      "main": [[{ "node": "Dia Bloqueado?", "type": "main", "index": 0 }]]
    },
    "Dia Bloqueado?": {
      "main": [
        [{ "node": "Retornar Erro Bloqueio", "type": "main", "index": 0 }],
        [{ "node": "Buscar Duração", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Duração": {
      "main": [[{ "node": "Preparar Inserção", "type": "main", "index": 0 }]]
    },
    "Preparar Inserção": {
      "main": [[{ "node": "Inserir Agendamento", "type": "main", "index": 0 }]]
    },
    "Inserir Agendamento": {
      "main": [[{ "node": "Salvar ID", "type": "main", "index": 0 }]]
    },
    "Salvar ID": {
      "main": [[{ "node": "Vincular Serviço", "type": "main", "index": 0 }]]
    },
    "Vincular Serviço": {
      "main": [[{ "node": "Vincular Funcionário", "type": "main", "index": 0 }]]
    },
    "Vincular Funcionário": {
      "main": [[{ "node": "Criar Bloqueio Agenda", "type": "main", "index": 0 }]]
    },
    "Criar Bloqueio Agenda": {
      "main": [[{ "node": "Buscar Dados Completos", "type": "main", "index": 0 }]]
    },
    "Buscar Dados Completos": {
      "main": [[{ "node": "Formatar Sucesso", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "instanceId": "7cd2192570f690f192d4d8c0d58a905ea183da6f294052109cd14343322150c9"
  },
  "tags": [{ "name": "Bellory" }, { "name": "Tool" }]
}
