n8n-workflows/tool-buscar-servico-categoria.json
{
  "name": "Tool: Buscar Serviço por Categoria - Bellory",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d1b2c3d4-1004-4004-a004-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// TOOL: BUSCAR SERVIÇO POR CATEGORIA\n// Lista serviços de uma categoria específica\n// ════════════════════════════════════════════════════════\n\nconst input = $input.item.json;\nconst query = input.query || '';\nconst organizacaoId = input.organizacao_id || input.organizacaoId;\nlet categoriaId = input.categoria_id || input.categoriaId;\n\n// Tentar extrair categoria_id do query\nif (!categoriaId && query) {\n  const match = query.match(/(\\d+)/);\n  if (match) categoriaId = match[1];\n}\n\nif (!categoriaId) {\n  return [{ json: { error: true, message: 'categoria_id não informado. Use a tool categoria_servicos para listar as categorias disponíveis.' } }];\n}\nif (!organizacaoId) {\n  return [{ json: { error: true, message: 'organizacao_id não informado.' } }];\n}\n\nreturn [{ json: { categoria_id: categoriaId, organizacao_id: organizacaoId } }];"
      },
      "id": "d1b2c3d4-1004-4004-a004-000000000002",
      "name": "Extrair Parâmetros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d1b2c3d4-1004-4004-a004-000000000003",
      "name": "Tem Erro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.id AS servico_id, s.nome, COALESCE(s.preco_final, s.preco) AS preco, s.tempo_estimado_minutos AS duracao, s.descricao FROM app.servico s WHERE s.categoria_id = $1 AND s.organizacao_id = $2 AND s.ativo = true AND s.is_deletado = false ORDER BY s.nome;",
        "options": {
          "queryReplacement": "={{ $json.categoria_id }},={{ $json.organizacao_id }}"
        }
      },
      "id": "d1b2c3d4-1004-4004-a004-000000000004",
      "name": "Buscar Serviços",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [200, -64],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lq3dPcTNeSRNyXW9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatar lista de serviços\nconst items = $input.all();\nconst servicos = items\n  .map(item => item.json)\n  .filter(item => item.servico_id);\n\nif (servicos.length === 0) {\n  return [{\n    json: {\n      response: JSON.stringify({\n        servicos: [],\n        mensagem: 'Nenhum serviço encontrado nesta categoria.'\n      })\n    }\n  }];\n}\n\n// Formatar preços\nconst servicosFormatados = servicos.map(s => ({\n  servico_id: s.servico_id,\n  nome: s.nome,\n  preco: `R$ ${parseFloat(s.preco || 0).toFixed(2).replace('.', ',')}`,\n  preco_valor: parseFloat(s.preco || 0),\n  duracao: `${s.duracao} min`,\n  duracao_minutos: s.duracao,\n  descricao: s.descricao || ''\n}));\n\nreturn [{\n  json: {\n    response: JSON.stringify({\n      servicos: servicosFormatados,\n      total: servicosFormatados.length\n    })\n  }\n}];"
      },
      "id": "d1b2c3d4-1004-4004-a004-000000000005",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, -64]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { response: $input.item.json.message, success: false } }];"
      },
      "id": "d1b2c3d4-1004-4004-a004-000000000006",
      "name": "Retornar Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [200, 96]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Extrair Parâmetros", "type": "main", "index": 0 }]]
    },
    "Extrair Parâmetros": {
      "main": [[{ "node": "Tem Erro?", "type": "main", "index": 0 }]]
    },
    "Tem Erro?": {
      "main": [
        [{ "node": "Retornar Erro", "type": "main", "index": 0 }],
        [{ "node": "Buscar Serviços", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Serviços": {
      "main": [[{ "node": "Formatar Resposta", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "instanceId": "7cd2192570f690f192d4d8c0d58a905ea183da6f294052109cd14343322150c9"
  },
  "tags": [{ "name": "Bellory" }, { "name": "Tool" }]
}
